@media screen and (max-width: 1270px) {
    .pack-images {
        flex-direction: column-reverse;
    }

    .pack-images-main {
        width: 100%;
    }

    .pack-images-column {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 20px 0;
    }

    .pack-images-column > img {
        width: 23%;
    }
}

@media screen and (max-width: 1150px) {
    iframe {
        height: 400px;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-menu {
        width: 100%;
    }

    .footer-menu > form > input {
        width: 100%;
    }

    .footer-copy {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-copy > section {
        width: 100%;
    }
}

@media screen and (max-width: 1120px) {
    .header-menu {
        display: none;
        position: absolute;
        color: white !important;
        background-color: black;
        left: 0;
        top: 0;
        flex-direction: column;
        width: 100%;
        padding: 50px 0;
        align-items: center;
    }

    .header-menu > i {
        display: block;
    }

    .header-content {
        justify-content: flex-start;
    }

    .header-content img {
        margin: 0 60px 0;
    }

    .header-content > i {
        display: block;
    }
}

@media screen and (max-width: 950px) {
    .page-description > p {
        font-size: 15px;
    }

    .product-showcase {
        flex-direction: column-reverse;
    }

    .showcase-image {
        width: 100%;
    }

    .showcase-text, .showcase-reverse > .showcase-text {
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .showcase-text > p {
        width: 100%;
    }

    .showcase-divisor {
        height: 100px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 850px) {
    iframe {
        height: 250px;
    }
}

@media screen and (max-width: 800px) {
    .credits > section {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .header-content {
        flex-direction: column;
    }

    .header-content img {
        margin: 40px 0;
    }
}

@media screen and (max-width: 550px) {
    .super-header {
        flex-direction: column;
        align-items: center;
    }

    .super-header > p {
        margin: 20px 0 20px;
    }

    .super-header > a > section {
        margin: 20px 0 20px;
        padding: 0;
        border: none;
    }
}

@media screen and (max-width: 500px) {
    .logo-header > img, .logo-footer > img {
        max-width: 100%;
    }
}